.nav-item.dropdown img{
    float: left;
    height: 40px;
}

.nav-item.dropdown a {
    float: left;
}

#navbarDropdown {
    float: left;
}

.table-index {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: calc(100% - 50px);
  }
  
.table-index td, .table-index th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-index tr:nth-child(even){
    background-color: #f2f2f2;
}

.table-index tr:hover {background-color: #ddd;}

.table-index th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00669c;
    color: white;
}

.tile-footer {
    float: right;
    margin-top: 30px;
}

.table > :not(caption) > * > * {
    padding: 0.5rem 1.5rem;
}

tr td #desc {
    text-overflow: ellipsis;
    width: 50vw;
}

#btn-del {
    border: none; 
    background: none;
}
form input, form textarea {
    padding: 0.5em !important;
}

i.fa-solid.fa-unlock, i.fa-solid.fa-lock {
    padding: 6px;
    width: 25px;
}

input[type="radio"] { 
    display: none;
}

input[type="radio"]:checked + label {
    border: 1px solid blue;
    border-radius: 50%;

}

#form-update-user table{
    width: 30vw;
}

#form-update-user table tr td{
    padding: 5px;
}
.bi-star-fill::before {
    content: "\f586";
}

.mb-6 {
    margin-bottom: 4rem !important;
}
  
.mb-7 {
    margin-bottom: 6rem !important;
}

.checked {
    color: orange;
}

.card-image {
    line-height: 250px;
    overflow: hidden;
    height: 250px;
}

.pro-img-details {
    width: 400px;
    overflow: hidden;
    height: 400px;
    position: relative;
}

.card-image-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
